<div class="flexcontainer">
  <div class="projects">
    <h1>Projects</h1>
    <!-- <mat-nav-list>
      <mat-list-item *ngFor="let project of projects" 
        [class.selected]="selectedProject?.id == project.id" 
        (click)="onRowClicked(project)">
          {{project.name}}
      </mat-list-item>
    </mat-nav-list> -->
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>
    </table>
  </div>
  <div class="builds">
    <app-builds *ngIf="selectedProject" [project]="selectedProject">
    </app-builds>
  </div>
</div>