.selected {
    background-color: aquamarine;
}

.flexcontainer {
    display: flex;
    flex-direction: row;
}

.builds__list, .builds__chart{
    display: inline-block;
}

.builds__list{
    max-height: 60vh;
    overflow-y: scroll;
    min-width: 30%;
}

.builds__chart{
    margin: 0 5em;
}

.mat-table {
    width: 100%;
}

.mat-row:hover {
    cursor: pointer;
}