<h1>Builds</h1>
<div class="flexcontainer">

  <div class="builds__list">

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status.name}} </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>
    </table>

    <!-- <mat-nav-list>
      <mat-list-item *ngFor="let build of builds" [class.selected]="selectedBuild?.id == build.id" (click)="onRowClicked(build)">
        {{build.name}}
      </mat-list-item>
    </mat-nav-list> -->
  </div>




  <div class="builds__chart" *ngIf="builds?.length > 0">
    <app-number-select [placeholder]="Builds" [numberSubject]="chartBuildsCountSubject">
    </app-number-select>

    <ngx-charts-bar-vertical *ngIf="chartData?.length > 0" [view]="view" [scheme]="colorScheme" [results]="chartData"
      [gradient]="false" [xAxis]="true" [yAxis]="true" [legend]="false" [showXAxisLabel]="true" [showYAxisLabel]="true"
      [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [xAxisTickFormatting]="tickFormatting" (select)="onSelect($event)">
      <ng-template #tooltipTemplate let-model="model">
        <span class="tooltip-label">{{model.name.indexOf( "*" ) > 0 ? model.name.substring(0, model.name.indexOf( "*"
          )) : model.name}}</span>
        <span class="tooltip-val">{{model.value}}</span>
      </ng-template>
    </ngx-charts-bar-vertical>
  </div>

</div>