<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/projects" routerLinkActive="active">Projects</a>
</nav>

<div class="projects">
  <div class="projects__list h-100">
    <div class="card bg-light  h-100">
      <div class="card-header">
        Projects
      </div>
      <div class="card-body">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <div class="table-container">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="height:100%;">

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>
          </table>
        </div>

      </div>
    </div>
  </div>

</div>


<app-builds [projectIdSubject]="projectIdSubject">
</app-builds>